* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

:root {
  --Background-Color: #f0e0ff;
  --Secondary-Color: #975acf;
  --Darker-Color: #55297e;
}

body {
    background-color: #f6eeff;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

html {
    width: 100%;
    overflow-x: hidden;
}
/* glow background */
.blur-blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    z-index: -1;
    opacity: 0.6;
}

.blob-1 {
    top: -100px;
    right: -100px;
    width: 500px;
    height: 500px;
    background-color: #d1b3ff; 
}

.blob-2 {
    top: 400px;
    left: -200px;
    width: 600px;
    height: 600px;
    background-color: #e2d2ff;
}

/* nav bar at top and logo */
.nav-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    background-color: transparent;
}

.nav-logo-group {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-shrink: 0; 
}

.logo-text {
    font-size: 22px;
    font-weight: 600;
    color: var(--Secondary-Color);
    letter-spacing: -0.5px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    color: var(--Secondary-Color);
    font-size: 22px;
    font-weight: 600;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: var(--Darker-Color);
}