* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --Background-Color: #f0e0ff;
  --Secondary-Color: #975acf;
  --Darker-Color: #55297e;
  --Another-Color: #411e7a;
}

body {
  background-color: #f6eeff;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

html {
  width: 100%;
  overflow-x: hidden;
}

/* glow background */
.blur-blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;
  opacity: 0.6;
}

.blob-1 {
  top: -100px;
  right: -100px;
  width: 500px;
  height: 500px;
  background-color: #d1b3ff;
}

.blob-2 {
  top: 400px;
  left: -200px;
  width: 600px;
  height: 600px;
  background-color: #e2d2ff;
}

/* nav bar at top and logo */
.nav-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  background-color: transparent;
}

.nav-logo-group {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
}

.logo-text {
  font-size: 22px;
  font-weight: 600;
  color: var(--Secondary-Color);
  letter-spacing: -0.5px;
}

.logo-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d2ff;
}

.logo-icon img {
  width: 170%;
  height: 170%;
  object-fit: cover;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: var(--Secondary-Color);
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--Darker-Color);
}

/* projects */
.project-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--Darker-Color);
  margin: 0 0 12px 0;
}

.subtitle {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--Secondary-Color);
  margin: 0 0 60px 0;
}

.projects-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 40px;
}

.project-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.project-image-box {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: #eeeeee;
  border-radius: 40px;
  margin-bottom: 24px;
}

/*.project-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}*/

.project-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Space Grotesk", sans-serif;
}

.project-tag {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: var(--Secondary-Color);
}

.project-highlight {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--Secondary-Color);
  margin: 0;
}

.project-desc {
  font-weight: 500;
  font-size: 1.15rem;
  color: var(--Secondary-Color);
  margin: 0;
  line-height: 1.5;
}

.project-tech {
  font-weight: 700;
  font-size: 1rem;
  color: var(--Secondary-Color);
}

@media (max-width: 850px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/*.project-link-wrapper {
  display: inline-flex;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: var(--Darker-Color);
}*/

.project-btn {
  color: white;
  text-decoration: none;
  padding: 0 6px;
  background: var(--Secondary-Color);
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.project-btn:hover {
  color: var(--Another-Color);
}